<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>To Do List</h2>
      <div class="col-md-4 offset-md-8">
        <p>
          <ngb-alert *ngIf="deleteSuccess" [dismissible]="true" [type]="'success'" (close)="deleteSuccess=false">
            Delete Todo Successful
          </ngb-alert>
        </p>
      </div>
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Description</th>
          <th>Target</th>
          <th>Done?</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{todo.description}}</td>
          <td>{{todo.targetDate | date}}</td>
          <td>{{todo.done}}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button> &nbsp;
            <button class="btn btn-success" (click)="updateTodo(todo.id)">Update</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <button class="btn btn-primary" (click)="createTodo()">Create</button>
    </div>
    <div class="col-md-12">
      <p>
        <ngb-alert *ngIf="error" [dismissible]="true" [type]="'danger'" (close)="error=null">
          {{error}}
        </ngb-alert>
      </p>
    </div>
  </div>
</div>


