<!-- Footer -->
<!--<footer class="page-footer font-small blue footer">

  &lt;!&ndash; Copyright &ndash;&gt;
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Kelompok II Diklat Prakom Terampil Angkatan II</a>
  </div>
  &lt;!&ndash; Copyright &ndash;&gt;

</footer>-->
<!-- Footer -->

<footer>
  <div class="footer-copyright text-center py-3">© 2019 Copyright: Kelompok II Diklat Prakom Terampil Angkatan II
  </div>
</footer>
