<!--<div class="row">-->
<!--  <div class="container">-->
<!--    <div class="container">-->
<!--      &lt;!&ndash;untuk redirect ke komponen lain, dapat menggunakan tag routerLink seperti dibawah&ndash;&gt;-->
<!--      <h3>{{user}}</h3>-->
<!--      <p>You should check your to do list <a routerLink="/todos">here </a></p>-->
<!--      <p>Click this button to show some secret</p>-->
<!--      <button class="btn btn-success" (click)="getHelloWorldClass()" placement="top" ngbTooltip="Tooltip on top">Click-->
<!--        me-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--      &lt;!&ndash;untuk redirect ke komponen lain, dapat menggunakan tag routerLink seperti dibawah&ndash;&gt;-->
<!--      <p>-->
<!--        <ngb-alert *ngIf="data" [dismissible]="true" [type]="'success'" (close)="data=null">-->
<!--          {{data}}-->
<!--        </ngb-alert>-->
<!--      </p>-->
<!--      <p>-->
<!--        <ngb-alert *ngIf="errorMessage" [dismissible]="true" [type]="'danger'" (close)="errorMessage=null">-->
<!--          {{errorMessage}}-->
<!--        </ngb-alert>-->
<!--      </p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


