<h2 mat-dialog-title>Hasil Pencarian Barang</h2>
<hr>
<mat-dialog-content class="mat-typography">
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Cari">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <mat-progress-bar mode="indeterminate" *ngIf="showLoading"></mat-progress-bar>
      <table mat-table [dataSource]="dataSource" matSort class="example-full-width">

        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> No.</th>
          <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="namaBarang">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nama Barang</th>
          <td mat-cell *matCellDef="let element"> {{element.namaBarang}} </td>
        </ng-container>

        <ng-container matColumnDef="merkBarang">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Merk Barang</th>
          <td mat-cell *matCellDef="let element"> {{element.merkBarang }} </td>
        </ng-container>

        <ng-container matColumnDef="keterangan">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Keterangan</th>
          <td mat-cell *matCellDef="let element"> {{element.keterangan }} </td>
        </ng-container>

        <ng-container matColumnDef="aksi">
          <th mat-header-cell *matHeaderCellDef> Aksi</th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="pilihBarang(element)">Pilih</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card>
</mat-dialog-content>
