/* You can add global styles to this file, and also import other style files */
/*@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css);*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*untuk merubah warna font tanggal ketika dia melebihi batas waktu*/
td.is-red {
  color: red;
  font-weight: bold;
}

/*untuk table*/
table{
  width: 100%;
}

/*untuk kolom keperluan*/
.mat-column-keperluan {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/*untuk kolom aksi*/
.mat-column-aksi {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
